.welcome {
    color: #f2e8cf;
    font-size: 4rem;
    font-family: 'PT Sans';
    text-align: center;
    padding-top: 70px;
    text-shadow: 10px 10px black;
    height: 500px;
}

.welcome .btn {
    background-color: #bd2d30;
    border-radius: 20px;
    margin: unset;
    padding: 10px 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.welcome .btn:hover {
    background-color: #de2225;
    color: #fff;
}

.welcome .btn a {
    text-decoration: none;
    color: #f2e8cf;
    font-weight: bold;
    font-size: 1.7rem;
    text-shadow: 3px 3px rgb(105, 1, 1);
}

