<app-delete-dialog *ngIf="(isDialogViewed$ | async)" [pizzaId]="pizza._id"></app-delete-dialog>

<div class="details--container">
    <section id="details-card" *ngIf="!!pizza">
        <div class="img-container left">
            <img class="img" src="/assets/pizzaImages/{{pizza.image}}" alt="">
        </div>

        <section class="info right">
            <h2 class="info--title">{{pizza.name}}</h2>
            <div class="info--divider"></div>
            <p class="info--desc">{{pizza.info}}</p>    

            <div class="size--container">
                <p class="size">Size</p>
                <p class="info--size">{{pizza.size}}</p>
            </div>
             
            <p class="info--price">Only for {{pizza.price}} BGN</p>


            <ng-container *ngIf="(isLoggedIn$ | async)">

                <ng-container *ngIf="canOrder && !isUserOwner">
                    <button (click)="orderPizzaById(pizza._id, currentUser._id)" class="order--btn">Order</button>
                </ng-container>

                <ng-container *ngIf="!canOrder && !isUserOwner">
                    <button class="have-ordered--btn" disabled>You have ordered</button>
                </ng-container>

                <div *ngIf="isUserOwner" class="owenr--btn">
                    <a class="edit--btn" [routerLink]="['/pizza/edit', pizza._id]">Edit</a>
                    <button (click)="deletePizzaHandler()" class="delete--btn">Delete</button>
                </div>

            </ng-container>

        </section>
    </section>
</div>