<div class="login--form--container">
    <form id="login" action="">
        <div class="title--container">
            <i class="fa-solid fa-user title--image"></i>
            <h2 class="title">Login Form</h2>
        </div>

        <p class="error--title">Email or password is incorrect!</p>

        <div class="form--info">
            <div class="input--info">
                <label class="label" for="">Email</label>

                <div class="inp--container">
                    <i class="fa-solid fa-user icon"></i>
                    <input class="inp" type="text" placeholder="Type your email">
                </div>

                <p class="error">Email is required!</p>
                <!-- <p class="error">Email is not valid!</p> -->
            </div>

            <div class="input--info">
                <label class="label" for="">Password</label>

                <div class="inp--container">
                    <i class="fa-solid fa-lock icon"></i>
                    <input class="inp" type="text" placeholder="Type your password">
                </div>

                <!-- <p class="error">Password is required!</p> -->
                <p class="error">Password must be at least 5 characters!</p>
            </div>

            <button class="login--btn">Login</button>

            <p class="redirect">Need an account? <a routerLink="/user/register">Register</a></p>
        </div>
    </form>
</div>