<div class="form--container">
    <form id="login" action="">
        <h2 class="title">Login Form</h2>

        <div class="form--info">
            <div class="input--info">
                <label class="label" for="">Email</label>

                <div class="inp--container">
                    <i class="fa-solid fa-user icon"></i>
                    <input class="inp" type="text" placeholder="Type your email">
                </div>
            </div>

            <div class="input--info">
                <label class="label" for="">Password</label>

                <div class="inp--container">
                    <i class="fa-solid fa-lock icon"></i>
                    <input class="inp" type="text" placeholder="Type your password">
                </div>
            </div>

            <button class="login--btn">Login</button>

            <p class="redirect">Need an account? <a routerLink="/home">Register</a></p>
        </div>
    </form>
</div>