<section class="grid">
    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza3.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>

    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza1.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>

    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza2.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>

    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza3.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>

    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza1.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>

    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza2.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>

    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza2.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>


    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza2.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>


    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza2.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>

    <section class="card">
        <div class="img-container">
            <img src="../../../assets/images/pizza2.jpg" alt="">
        </div>

        <div class="pizza--info">
            <h3 class="pizza--title">Peperoni</h3>
            <hr class="pizza--divider">
            <p class="pizza--desc">Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
            </p>
            <button class="order--btn">Order</button>
        </div>
    </section>
</section>