<section *ngIf="(isLoading$ | async)" id="menu--loading--container">
    <h1 class="loading">Loading</h1>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</section>


<ng-container *ngIf="allPizzas?.length == 0">
    No Pizza yet
</ng-container>


<section *ngIf="!(isLoading$ | async) && allPizzas?.length != 0" id="menu" class="grid">

    <ng-container *ngFor="let pizza of allPizzas">

        <section class="card">
            <div class="img-container">
                <img src={{pizza.image}} alt="">
            </div>

            <div class="pizza--info">
                <h3 class="pizza--title">{{pizza.name}}</h3>
                <div class="pizza--divider"></div>
                <p class="pizza--desc">{{pizza.ingredients}}</p>
                <a class="order--btn" [routerLink]="['/pizza/menu', pizza._id]">Order</a>
            </div>
        </section>
        
    </ng-container>

</section>