<header id="header">
    <nav class="nav">
        <a routerLink="/home"><img class="logo-img" src="/assets/pizzalogo.png" alt=""></a>

        <ul class="list" role="list">
            <li class="list-item">
                <a routerLink="/home">Home</a>
            </li>

            <li class="list-item">
                <a routerLink="/pizza/menu">Menu</a>
            </li>

            <ng-container *ngIf="!!(isLoggedIn$ | async)">
                <li class="list-item">
                    <a routerLink="/pizza/create">Create Pizza</a>
                </li>

                <li class="list-item">
                    <a routerLink="/pizza/myposts">{{(currentUser$ | async)?.username}} Posts</a>
                </li>
                <li class="list-item">
                    <a (click)="logoutHandler()" href="javascript:void(0)">Logout</a>
                </li>
            </ng-container>


            <ng-container *ngIf="!(isLoggedIn$ | async)">
                <li class="list-item">
                    <a routerLink="/user/login">Login</a>
                </li>

                <li class="list-item">
                    <a routerLink="/user/register">Register</a>
                </li>
            </ng-container>
        </ul>
    </nav>
</header>