.edit--form--container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#edit {
    background-color: #f2e8cf;
    width: 30%;
    margin: 0 auto;
    font-family: 'Roboto';
    min-height: 400px;
    border-radius: 30px;
}

#edit .title--container {
    position: relative;
}

#edit .title--container .title--image {
    position: absolute;
    right: -40px;
    top: -30px;
    border-radius: 100%;
    width: 120px;
}

#edit .form--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit .title {
    background-color: #31572c;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #f2e8cf;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#edit .input--info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#edit .inp--container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 50px;
    width: 400px;
}

#edit .label {
    padding-bottom: 5px;
}

#edit .inp {
    width: 100%;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #efefef;
}

#edit .inp::placeholder {
    padding-left: 5px;
}

#edit .icon {
    width: 15%;
    height: 100%;
    background-color: #86662a;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22px;
    padding-top: 15px;
}

#edit .btns {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    width: 350px;
    gap: 20px;
}

#edit .edit--btn {
    flex-basis: 50%;
    background-color: #31572c;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 30px;
    color: #f2e8cf;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px;
}

#edit .cancel--btn {
    background-color: #bc4749;
    flex-basis: 50%;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px;
    color: #f2e8cf;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

#edit .edit--btn:hover {
    background-color: #1b682b;
    color: #fff;
    transform: scale(1.05);
}

#edit .cancel--btn:hover {
    background-color: #da3134;
    color: #fff;
    transform: scale(1.05);
}

#edit .redirect {
    padding-bottom: 20px;
}

#edit .redirect a {
    color: #7eb2db;
    text-decoration-color: #7eb2db;
    padding-left: 2px;
}


#edit .textarea--container {
    height: 150px;
    margin-bottom: 20px;
}

#edit .textarea {
    height: 120px;
    border-bottom-left-radius: 20px;
    padding: 10px;
}

#edit .fa-dollar-sign {
    padding-left: 25px;
}

#edit .error {
    text-align: left;
    border-radius: 0.3em;
    color: #e5272a;
    padding-top: 10px;
    padding-left: 10px;
}

#edit .error--title {
    border-radius: 0.3em;
    color: #e5272a;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.1rem;
}

#edit .error--textbox--container {
    padding-bottom: 20px;
    width: 400px;
}

#edit .input--err {
    background-color: #bc4749;
}

