<div class="edit--form--container">
    <form id="edit" action="">
        <div class="title--container">
            <img class="title--image" src="../../../assets/images/pizzaform2.png" alt="">
            <h2 class="title">Edit Pizza</h2>
        </div>

        <div class="form--info">
            <div class="input--info">
                <label class="label" for="">Image</label>

                <div class="inp--container">
                    <i class="fa-regular fa-image icon"></i>
                    <input class="inp" type="text" placeholder="Add an image" value="/assets/img/picrute.png">
                </div>

                <!-- <p class="error">Image is required!</p> -->
            </div>

            <div class="input--info">
                <label class="label" for="">Name</label>

                <div class="inp--container">
                    <i class="fa-solid fa-pizza-slice icon"></i>
                    <input class="inp" type="text" placeholder="Give your pizza a name" value="Peperoni">
                </div>

                <!-- <p class="error">Name is required!</p>
                <p class="error">Name must be at least 5 characters!</p> -->
            </div>

            <div class="input--info textarea--container">
                <label class="label" for="">Ingredients</label>

                <div class="inp--container">
                    <i class="fa-solid fa-file-signature icon"></i>
                    <textarea class="inp textarea" type="text" placeholder="Write the required ingredients">
                        Pepperoni is essentially an American version of salami, something close to what
                Italians might call salame
                piccante, a generic term that means “spicy salami.” It's made from beef and cured pork mixed together
                and
                then seasoned with a blend that usually includes paprika, garlic, black pepper, crushed red pepper,
                cayenne
                    </textarea>
                </div>
            </div>

            <!-- <div class="error--textbox--container">
                <p class="error err--textbox">Ingredients info is required!</p>
                <p class="error err--textbox">Ingredients info must be at least 10 characters!</p>
            </div> -->

            <div class="input--info">
                <label class="label" for="">Size</label>

                <div class="inp--container">
                    <i class="fa-solid fa-pizza-slice icon"></i>
                    <select class="inp" name="" id="">
                        <option value="" disabled selected hidden>Please Choose...</option>
                        <option value="Average">Average</option>
                        <option value="Large">Large</option>
                        <option value="Jumbo">Jumbo</option>
                    </select>
                </div>

                <p class="error">Size is required!</p>
                <!-- <p class="error">Price must be positve number!</p> -->
            </div>


            <div class="input--info">
                <label class="label" for="">Price</label>

                <div class="inp--container">
                    <i class="fa-solid fa-dollar-sign icon"></i>
                    <input class="inp" type="text" placeholder="Add price" value="20">
                </div>

                <!-- <p class="error">Price is required!</p>
                <p class="error">Price must be positve number!</p> -->
            </div>

            <button class="edit--btn">Save changes</button>
        </div>
    </form>
</div>