@media screen and (min-width: 1900px) and (min-height: 1000px) {
    .edit--form--container {
        padding-top: 80px;
    }

    #edit {
        min-height: 600px;
    }

    #edit .input--info {
        padding-bottom: 30px;
    }

    #edit .title {
        height: 120px;
        font-size: 3rem;
        margin-bottom: 40px;
    }

    #edit .label {
        font-size: 1.8rem;
        padding-bottom: 7px;
    }

    #edit .inp--container {
        height: 80px;
        width: 600px;
    }

    #edit .icon {
        font-size: 30px;
        padding-left: 30px;
        padding-top: 22px;
    }

    #edit .inp {
        font-size: 2rem;
        padding-left: 20px;
    }

    #edit .btns {
        width: 500px;
    }

    #edit .edit--btn {
        padding: 20px;
        font-size: 1.6rem;
    }

    #edit .cancel--btn {
        padding: 20px;
        font-size: 1.6rem;
    }

    #edit .redirect {
        padding-bottom: 40px;
    }

    #edit .redirect {
        padding-bottom: 30px;
        font-size: 1.6rem;
    }

    #edit .redirect a {
        padding-left: 5px;
    }

    #edit .textarea--container {
        height: 200px;
        margin-bottom: 20px;
    }

    #edit .textarea {
        height: 180px;
        border-bottom-left-radius: 20px;
        padding: 10px;
    }

    #edit .title--container .title--image {
        width: 160px;
    }

    #edit .error--title {
        font-size: 2.1rem;
        padding-bottom: 15px;
    }

    #edit .error {
        font-size: 1.8rem;
        padding-top: 15px;
    }

    #edit .error--textbox--container {
        padding-top: 15px;
    }
}