@media screen and (min-width: 1900px) and (min-height: 1000px) {
    .form--container {
        padding-top: 80px;
    }

    #register {
        min-height: 600px;
    }

    #register .input--info {
        padding-bottom: 30px;
    }

    #register .title {
        height: 120px;
        font-size: 3rem;
        margin-bottom: 40px;
    }

    #register .label {
        font-size: 1.8rem;
        padding-bottom: 7px;
    }

    #register .inp--container {
        height: 80px;
        width: 600px;
    }

    #register .icon {
        font-size: 30px;
        padding-left: 30px;
        padding-top: 22px;
    }

    #register .inp {
        font-size: 2rem;
        padding-left: 20px;
    }

    #register .register--btn {
        width: 600px;
        padding: 20px;
        font-size: 1.6rem;
        margin-top: 30px;
    }

    #register .redirect {
        padding-bottom: 40px;
    }

    #register .redirect {
        padding-bottom: 30px;
        font-size: 1.6rem;
    }

    #register .redirect a {
        padding-left: 5px;
    }
}