.register--form--container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#register {
    background-color: #f2e8cf;
    width: 30%;
    margin: 0 auto;
    font-family: 'Roboto';
    min-height: 400px;
    border-radius: 30px;
}

#register .form--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register .title {
    background-color: #31572c;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #f2e8cf;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#register .input--info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#register .inp--container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 50px;
    width: 400px;
}

#register .label {
    padding-bottom: 5px;
}

#register .inp {
    width: 100%;
    padding-left: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #efefef;
}

#register .inp::placeholder {
    padding-left: 5px;
}

#register .icon {
    width: 15%;
    height: 100%;
    background-color: #bc4749;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22px;
    padding-top: 15px;
}

#register .register--btn {
    background-color: #31572c;
    width: 400px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    color: #f2e8cf;
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.3s;
    cursor: pointer;
}

#register .register--btn:hover {
    background-color: #1b682b;
    color: #fff;
}

#register .redirect {
    padding-bottom: 20px;
}

#register .redirect a {
    color: #7eb2db;
    text-decoration-color: #7eb2db;
    padding-left: 2px;
}