<section *ngIf="(isLoading$ | async)" id="menu--loading--container">
    <h1 class="loading">Loading</h1>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</section>



<ng-container *ngIf="allPizzas?.length == 0">
    <div id="no-posts" *ngIf="!(isLoading$ | async)">
        <h1 class="no-posts--title">No posts yet</h1>
        <p class="no-posts--desc">Create the first post here <a routerLink="/pizza/create">Create post</a>!</p>
    </div>
</ng-container>


<section *ngIf="!(isLoading$ | async) && allPizzas?.length != 0" id="menu" class="grid">

    <ng-container *ngFor="let pizza of allPizzas">

        <section class="card">
            <div class="img-container">
                <img src="/assets/pizzaImages/{{pizza.image}}" alt="">
            </div>

            <div class="pizza--info">
                <h3 class="pizza--title">{{pizza.name}}</h3>
                <div class="pizza--divider"></div>
                <p class="pizza--desc">{{pizza.info}}</p>
                <a class="order--btn" [routerLink]="['/pizza/menu', pizza._id]">Order</a>
            </div>
        </section>
        
    </ng-container>

</section>