<footer>
    <h3 class="follow">Follow us on</h3>

    <ul class="social-media" role="list">
        <li class="social">
            <i class="fa-brands fa-twitter"></i>
            <p class="social-name">Tweeter</p>
        </li>
        <li class="social">
            <i class="fa-brands fa-facebook"></i>
            <p class="social-name">Facebook</p>
        </li>
        <li class="social">
            <i class="fa-brands fa-instagram"></i>
            <p class="social-name">Instagram</p>
        </li>
        <li class="social">
            <i class="fa-brands fa-youtube"></i>
            <p class="social-name">Youtube</p>
        </li>
    </ul>
</footer>
