<div class="create--form--container">
    <form #createPizzaForm="ngForm" (ngSubmit)="handleCreatePizza()" id="create" action="">
        <div class="title--container">
            <img class="title--image" src="../../../assets/images/pizzaform2.png" alt="">
            <h2 class="title">Create Pizza</h2>
        </div>

        <div class="form--info">
            <div class="input--info">
                <label class="label" for="">Image</label>

                <div class="inp--container">
                    <i [class.input--err]="image.touched && image.invalid" class="fa-regular fa-image icon"></i>
                    <input #image="ngModel" class="inp" type="text" placeholder="Add an image" name="image" ngModel required>
                </div>

                <ng-container *ngIf="image.touched && image.invalid">
                    <p *ngIf="image.errors['required']" class="error">Image is required!</p>
                </ng-container>
            </div>

            <div class="input--info">
                <label class="label" for="">Name</label>

                <div class="inp--container">
                    <i [class.input--err]="name.touched && name.invalid" class="fa-solid fa-pizza-slice icon"></i>
                    <input #name="ngModel" class="inp" type="text" placeholder="Give your pizza a name" name="name" ngModel required
                        minlength="5">
                </div>

                <ng-container *ngIf="name.touched && name.invalid">
                    <p *ngIf="name.errors['required']" class="error">Name is required!</p>
                    <p *ngIf="name.errors['minlength']" class="error">Name must be at least 5 characters!</p>
                </ng-container>
            </div>

            <div class="input--info textarea--container">
                <label class="label" for="">Info</label>

                <div class="inp--container">
                    <i [class.input--err]="info.touched && info.invalid" class="fa-solid fa-file-signature icon"></i>
                    <textarea #info="ngModel" class="inp textarea" type="text"
                        placeholder="Write the required info" name="info" ngModel required
                        minlength="10"></textarea>
                </div>
            </div>

            <div *ngIf="info.touched && info.invalid" class="error--textbox--container">
                <p *ngIf="info.errors['required']" class="error err--textbox">
                    Info info is required!
                </p>
                <p *ngIf="info.errors['minlength']" class="error err--textbox">
                    Info info must be at least 10 characters!
                </p>
            </div>

            <div class="input--info">
                <label class="label" for="">Size</label>

                <div class="inp--container">
                    <i [class.input--err]="size.touched && size.invalid" class="fa-solid fa-pizza-slice icon"></i>
                    <select #size="ngModel" class="inp" name="size" ngModel required>
                        <option value="" disabled selected hidden>Please Choose...</option>
                        <option value="Average">Average</option>
                        <option value="Large">Large</option>
                        <option value="Jumbo">Jumbo</option>
                    </select>
                </div>

                <ng-container *ngIf="size.touched && size.invalid">
                    <p class="error">
                        Size is required!
                    </p>
                </ng-container>
            </div>


            <div class="input--info">
                <label class="label" for="">Price</label>

                <div class="inp--container">
                    <i [class.input--err]="price.touched && price.invalid" class="fa-solid fa-dollar-sign icon"></i>
                    <input #price="ngModel" class="inp" type="number" placeholder="Add price" name="price" ngModel
                        required priceValidator>
                </div>

                <ng-container *ngIf="price.touched && price.invalid">
                    <p *ngIf="price.errors['required']" class="error">
                        Price is required!
                    </p>
                    <p *ngIf="!price.errors['required'] && price.errors['price']" class="error">
                        Price must be positve number!
                    </p>
                </ng-container>
            </div>

            <button class="create--btn" [disabled]="createPizzaForm.invalid">Create</button>
        </div>
    </form>
</div>