<div class="create--form--container">
    <form id="create" action="">
        <div class="title--container">
            <img class="title--image" src="../../../assets/images/formlogo.png" alt="">
            <h2 class="title">Create Pizza</h2>
        </div>

        <div class="form--info">
            <div class="input--info">
                <label class="label" for="">Image</label>

                <div class="inp--container">
                    <i class="fa-regular fa-image icon"></i>
                    <input class="inp" type="text" placeholder="Add an image">
                </div>
            </div>

            <div class="input--info">
                <label class="label" for="">Name</label>

                <div class="inp--container">
                    <i class="fa-solid fa-pizza-slice icon"></i>
                    <input class="inp" type="text" placeholder="Give your pizza a name">
                </div>
            </div>

            <div class="input--info textarea--container">
                <label class="label" for="">Ingredients</label>

                <div class="inp--container">
                    <i class="fa-solid fa-file-signature icon"></i>
                    <textarea class="inp textarea" type="text" placeholder="Write the required ingredients"></textarea>
                </div>
            </div>

            <div class="input--info">
                <label class="label" for="">Price</label>

                <div class="inp--container">
                    <i class="fa-solid fa-dollar-sign icon"></i>
                    <input class="inp" type="text" placeholder="Add price">
                </div>
            </div>

            <button class="create--btn">Create</button>
        </div>
    </form>
</div>