<div class="create--form--container">
    <form id="create" action="">
        <div class="title--container">
            <img class="title--image" src="../../../assets/images/pizzaform2.png" alt="">
            <h2 class="title">Create Pizza</h2>
        </div>

        <div class="form--info">
            <div class="input--info">
                <label class="label" for="">Image</label>

                <div class="inp--container">
                    <i class="fa-regular fa-image icon"></i>
                    <input class="inp" type="text" placeholder="Add an image">
                </div>

                <p class="error">Image is required!</p>
            </div>

            <div class="input--info">
                <label class="label" for="">Name</label>

                <div class="inp--container">
                    <i class="fa-solid fa-pizza-slice icon"></i>
                    <input class="inp" type="text" placeholder="Give your pizza a name">
                </div>

                <!-- <p class="error">Name is required!</p> -->
                <p class="error">Name must be at least 5 characters!</p> 
            </div>

            <div class="input--info textarea--container">
                <label class="label" for="">Ingredients</label>

                <div class="inp--container">
                    <i class="fa-solid fa-file-signature icon"></i>
                    <textarea class="inp textarea" type="text" placeholder="Write the required ingredients"></textarea>
                </div>
            </div>

            <div class="error--textbox--container">
                <!-- <p class="error err--textbox">Ingredients info is required!</p> -->
                <p class="error err--textbox">Ingredients info must be at least 10 characters!</p>
            </div>

            <div class="input--info">
                <label class="label" for="">Size</label>

                <div class="inp--container">
                    <i class="fa-solid fa-pizza-slice icon"></i>
                    <select class="inp" name="" id="">
                        <option value=""></option>
                        <option value="Average">Average</option>
                        <option value="Large">Large</option>
                        <option value="Jumbo">Jumbo</option>
                    </select>
                </div>

                <p class="error">Size is required!</p>
                <p class="error">Price must be positve number!</p>
            </div>


            <div class="input--info">
                <label class="label" for="">Price</label>

                <div class="inp--container">
                    <i class="fa-solid fa-dollar-sign icon"></i>
                    <input class="inp" type="text" placeholder="Add price">
                </div>

                <p class="error">Price is required!</p>
                <!-- <p class="error">Price must be positve number!</p> -->
            </div>

            <button class="create--btn">Create</button>
        </div>
    </form>
</div>